#GAME {
    background-image: url("assets/misc/background.png");
    background-repeat: repeat;
    border: 10px solid gray;
}

#effectOverlay {
    border: 10px solid gray;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

img {
    image-rendering: pixelated;    
}

body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

button, #oreInfo {
    font-size: 32px;
}

span {
    font-size: 48px;
}

button:not(.button) {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    padding: 0 !important;
}

button:not(.button)::selection {
    color: none;
    background: none;
}

button:not(.button)::-moz-selection {
    color: none;
    background: none;
}

button:not(.button)>* {
    visibility: visible;
}

a.noLinkFormat { color: black; text-decoration: none;}
a.noLinkFormat:link { color: black; text-decoration: none;}
a.noLinkFormat:visited { color: black; text-decoration: none;}
a.noLinkFormat:hover { color: black; text-decoration: none;}

aside {
    height: 100%; 
    width: 20vw; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #111; 
    border-left: #7f7f7f solid 10px;
    padding-top: 20px;
    bottom: 0;
    overflow: scroll;
    /*this entire thing is all stack overflow code*/
}

#ore-header, #just-found, #total-counter {
    text-align: center;
}

#ore-header, #just-found {
    margin-top: 0;
    font-size: 3vw;
}

#total-counter {
    font-size: 2.5vw;
}

.ore-display-div {
    margin-left: 1vw;
    display: flex;
    border: 1vw solid gray;
    border-radius: 2vw;
    width: 20vw;
    position: relative;
    background-color: #000;
    margin-bottom: 1vw;
}

.ore-display-div>button>img {
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-left: 0.5vw;
}

.ore-display-div>span {
    margin-left: 6vw;
    font-size: 4vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.ore-display-div.common {
    border-color: white;
}

.ore-display-div.uncommon {
    border-color: rgb(125, 255, 125);
}

.ore-display-div.rare {
    border-color: rgb(255, 125, 0);
}

.ore-display-div.epic {
    border-color: rgb(255, 255, 0);
}

.ore-display-div.mythic {
    border-color: #7dc8ff;
}

.ore-display-div.unseen {
    border-color: rgb(125, 0, 255);
}

main {
    margin-right: 22vw;
    font-size: 24px;
}

#oreInfoContainer {
    margin-top: 50px;
    border: 15px solid gray;
    border-radius: 50px;
    padding: 10px;
    width: 1600px;
}

#counter {
    color:rgb(125, 255, 125);
    font-size: 4vw;
}

#alert {
    position: fixed;
    left: 40px;
    font-size: 32px;
    margin-top: 37.5px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: black;
}

.epic-text {
    color: rgb(255, 255, 0)
}

.mythic-text {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    background: #7DC8FF;
    background: linear-gradient(to top, #7DC8FF 0%, #7D98FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.unseen-text {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    background: #7D00FF;
    background: linear-gradient(to bottom, #7D00FF 0%, #AA00CC 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

#events {
    font-size: 32px;
    margin-left: 20px;
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(4deg)
    }
    50% {
        transform: rotate(-4deg)
    }
}

.event-text {
    color: rgb(255, 255, 150)
}

.ui-button {
    position: absolute;
    left: 1620px;
    top: 10px;
}

#save-btn {
    top: 60px;
}


.ore-counter {
    display: inline-block;
}

a:link {
    color: rgb(127, 127, 255)
}

a:hover {
    color: rgb(127, 127, 200)
}

a:visited {
    color: rgb(125, 0, 255)
}

a {
    color: rgb(127, 127, 255)
}

body#side-page {
    margin: 2%;
}

#buggymanourlordandsaviorheisagodofthisworld {
    /*buggyman is god we all love buggyman we shall all worship buggyman dont change this id*/
    top: 110px;
}

#time {
    position: absolute;
    left: 1540px;
    top: 10px;
}

#toggle-info {
    font-size: 1.8vw;
    margin-left: 10px;
    margin-bottom: 40px;
}